@use '../../styles/variables' as *;

$col-gap: 1.5rem;

.section {
  max-width: $container-max;
  margin: 3rem auto 0;
  padding: 0 $container-px $container-px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: $col-gap;
}

.item {
  width: calc((100% - #{$col-gap * 2}) / 3);

  @include tablet {
    width: calc((100% - #{$col-gap}) / 2);
  }

  @include mobile {
    width: 100%;
  }
}
